<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<localRepository>/Users/liuyk/iCloudDrive-old/soft/apache-maven-3.6.0/repo</localRepository>


	<pluginGroups>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
	</pluginGroups>
	<proxies>
	</proxies>
	<servers>
	  <server>
		    <id>iWeb</id>
			<username>uapadmin</username>
		    <password>uapadmin</password>
	  </server>
	  <server>
		    <id>iUAP-Snapshots</id>
			<username>uapadmin</username>
		    <password>uapadmin</password>
	  </server>
	   <server>
		    <id>iUAP</id>
			<username>uapadmin</username>
		    <password>uapadmin</password>
	  </server>
	  <server>
	          <id>nexus-cpu-snapshots</id>
	          <username>deployment</username>
	          <password>deployment123</password>
	  </server>
	  <server>
			<id>UAP_WEB2.0</id>
			<username>uapadmin</username>
			<password>uapadmin</password>
	  </server>
	  <server>
          <id>nexus-releases</id>
          <username>deployment</username>
          <password>deployment123</password>
	  </server>
	  <server>
		  <id>nexus-snapshots</id>
		  <username>deployment</username>
		  <password>deployment123</password>
	  </server>
	</servers>
	<mirrors>
	</mirrors>
	<profiles>
		<profile>
			<id>nexus</id>
			<repositories>
<repository>
<id>maven central</id>
<name>maven Central Repository</name>
<url>https://repo.maven.apache.org/maven2</url>
<layout>default</layout>
 <snapshots>
<enabled>false</enabled>
</snapshots>
</repository>

				<repository>
					<id>YonyouCloud-Snapshot</id>
					<name>YonyouCloud-Snapshot</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/YonyouCloud-Snapshot</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>iUAP-Snapshots</id>
					<name>iUAP-Snapshots</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/iUAP-Snapshots</url>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>iUAP-Stagings</id>
					<name>iUAP-Stagings</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/iUAP-Stagings/ </url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>

				<repository>
					<id>iUAP</id>
					<name>iweb</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/iUAP/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>nexus</id>
					<name>Nexus</name>
					<url>http://maven.yonyou.com/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>iWeb</id>
					<name>iWeb</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/iWeb/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>central</id>
					<name>central</name>
					<url>http://maven.yonyou.com/nexus/service/local/repositories/central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>thirdparty</id>
					<name>thirdparty</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/thirdparty</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>3rdsnapshot</id>
					<name>3rdsnapshot</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/3rdsnapshot</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>apache-snapshots</id>
					<name>apache-snapshots</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/apache-snapshots</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>releases</id>
					<name>releases</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>snapshots</id>
					<name>snapshots</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/snapshots</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>UAP_WEB2.0</id>
					<name>UAP_WEB2.0</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/UAP_WEB2.0</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>Nuxeo</id>
					<name>Nuxeo</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/Nuxeo</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
					<repository>
					<id>central</id>
					<name>central</name>
					<url>http://maven.yonyou.com/nexus/content/shadows/central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>central-m1</id>
					<name>central-m1</name>
					<url>http://maven.yonyou.com/nexus/content/shadows/central-m1</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>cpu1.0</id>
					<name>cpu1.0</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/cpu1.0-Snapshots</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>

			</repositories>
			<pluginRepositories>
<pluginRepository>
<id>maven central</id>
<name>maven Central Repository</name>
<url>https://repo.maven.apache.org/maven2</url>
<layout>default</layout>
 <snapshots>
<enabled>false</enabled>
</snapshots>
</pluginRepository>
				<pluginRepository>
					<id>nexus</id>
					<name>Nexus</name>
					<url>http://maven.yonyou.com/nexus/content/groups/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>iWeb</id>
					<name>iWeb</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/iWeb/</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>central</id>
					<name>central</name>
					<url>http://maven.yonyou.com/nexus/service/local/repositories/central</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>UAP_WEB2.0</id>
					<name>UAP_WEB2.0</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/UAP_WEB2.0</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>thirdparty</id>
					<name>thirdparty</name>
					<url>http://maven.yonyou.com/nexus/repositories/thirdparty</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>3rdsnapshot</id>
					<name>3rdsnapshot</name>
					<url>http://maven.yonyou.com/nexus/repositories/3rdsnapshot</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>releases</id>
					<name>releases</name>
					<url>http://maven.yonyou.com/nexus/repositories/releases</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>snapshots</id>
					<name>snapshots</name>
					<url>http://maven.yonyou.com/nexus/repositories/snapshots</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>Nuxeo</id>
					<name>Nuxeo</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/Nuxeo</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>central-m1</id>
					<name>central-m1</name>
					<url>http://maven.yonyou.com/nexus/content/shadows/central-m1</url>
					<releases>
					<enabled>true</enabled>
					</releases>
					<snapshots>
					<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>cpu1.0</id>
					<name>cpu1.0</name>
					<url>http://maven.yonyou.com/nexus/content/repositories/cpu1.0-Snapshots</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>downloadSources</id>
			<properties>
				<downloadSources>true</downloadSources>
				<downloadJavadocs>true</downloadJavadocs>
			</properties>
		</profile>
		<profile>
			<id>jdk17</id>
			 <activation>
				  <activeByDefault>true</activeByDefault>
				  <jdk>1.7</jdk>
			 </activation>
			 <properties>
				  <maven.compiler.source>1.7</maven.compiler.source>
				  <maven.compiler.target>1.7</maven.compiler.target>
				  <maven.compiler.compilerVersion>1.7</maven.compiler.compilerVersion>
			 </properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>nexus</activeProfile>
		<activeProfile>downloadSources</activeProfile>
	</activeProfiles>
</settings>
